<html>
    <head>
        <title>
            add location form
        </title>
    </head>
    <body>
        <form action="http://localhost:3002/addLocation/<%=parent._id%>" method="POST" enctype='multipart/form-data'>
            <input type="text" name="locationName" value="">
            <input type="submit" value="Submit">
        </form>
    </body>
</html>