<html>
    <head>
        <title>
            home page
        </title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    </head>
    <body>
        <h1>Location</h1>
        <a href="http://localhost:3002/addLocationForm/null"><button>Add location</button></a>
        <a href="http://localhost:3002/addProductForm"><button>Add product</button></a>
        <table class="table">
            <thead>
                <tr>
                    <th>Index</th>
                    <th>Location</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <% for(var i=0; i < location.length; i++){%>
                <tr>
                    <td><%= i+1 %></td>
                    <td><a href="http://localhost:3002/getLocation/<%= location[i]._id%>"><%= location[i].locationName %></a></td>
                    <td>
                        <button>Edit</button>
                        <a href="http://localhost:3002/delete/<%= location[i]._id%>"><button>delete</button>
                    </td>
                </tr>
                <%}%>
            </tbody>
        </table>

    </body>
</html>